body {
    width: 800px;
    margin: 0 auto;
    font-weight: bold;
    background: #fff;
}

#date {
    font-size: 25px;
    text-align: right;
    padding: 20px 50px;
}

table {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

table thead th {
    color: #4f81bd;
}

.blue {
    background: #d2eaf1;
}

#background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% -100%;
}

#total {
    background: #00cc66;
}
#reglement{
    text-align: center;
    font-size: 22px;
}

table,
th,
td {
    border: 2px solid #4bacc6!important;
}
#signature .signature {
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 22px;
    color: #008000;
    text-decoration: underline;
}
